body {
     background-color: #990000;
}
.name{
    color: #ffffff;
    font-size: 20px;
    padding-bottom: .5em;
    padding-top: 1em;
    font-weight: 500;
}
.login-box{
    background-color: #000033;
    padding: 1em;
    border-radius: 1em;
    opacity: 0.9;
    cursor: pointer;
}
.box {
    background-color: #ffffff;
    margin-top: 1em;
    min-height: 20em;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 1em;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
    
}
.box-top-bar {
    background-color: #00001a;
    padding: 1em;
    color: #ffffff;
    margin-top: .5em;
    
    
}
/*.box-top-bar:hover {*/
/*    background-color: #990000;*/
/*}*/
.left-side {
    background-color: #990000;
    color: #ffffff;
    min-height: 5em;
    margin-left: .5em;
    padding-top: .5em;
    padding-bottom: 1.5em;
    border-radius: 1em;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    
}
.left-side-tab {
    border-style: solid;
    padding: .5em;
    -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
}
.left-side-tab:hover {
    background-color: #00001a;
     -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
a {
       text-decoration: none;
       color: #ffffff;
    }

 a:hover {
       text-decoration: none;
       color: #ffffff;
    }
    